/* All pages CSS */
.alltxt{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home page CSS */
.htitle{
   text-align: center;
   background-color: lightgreen;
    margin-top: 0px;
    padding: 10px;
}
.welcome{
    background: lightgreen;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.rcp1,
.rcp2,
.rcp3{
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width:254px;
    margin:10px;
}

.pastaimg,
.lsgimg,
.riceimg{
    display: block;
width: 250px;
height:auto
}

    /* Pesto Pasta Recipe Page CSS */

.pestotitle,
.lasagnatitle,
.burgertitle{
    text-align: center;
    border: 2px solid black;
    
}

.pestoimage{  
     border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    box-sizing: border-box;
    width:254px;
    margin:10px;
 }


.pestoingredients{
    box-sizing: border-box;
    display: inline-block;
    padding:5px;
    width: 400px;
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    margin-top: -100px;
}

.pestolist,
.lasagnalisttxt,
.burgerlisttxt{
    text-align: left;
}

.pestop1{
    border: 2px lightgreen solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* lasagna + burger recipe page css */

.lasagnaimg,
.burgerimg{
     border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    box-sizing: border-box;
    width:315px;
    height: 315px;

}

.lasagnalist,
.burgerlist{
     border: 2px solid white;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width:310px;
    margin-bottom: -50px;
}

.burgerimg{
    margin-top:10px
}

.burgerguide,
.pestoguide,
.lasagnaguide{
    text-align: center;
}

